/*<LAYOUT>*/

html{    
    scroll-behavior: smooth;
    color: #fff;
}

body{    
    margin: 0;
    height: 2000px;
}

.container{    
    height: 100%;
}

footer{
    display: flex;    
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 7%;    
    text-align: center;    
}

.footer-icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 15px 0 0;
  }
/*</LAYOUT>*/

/*<RESETS>*/
a{    
    text-decoration: none;
}

p{
    text-align: center;
}

.title{
    font-family:RockWell, Helvetica,Arial;
    text-align: center;    
    font-size: 2em;
    color: #8844ee;
}

.title::after{
    content: '';
    background-color: currentColor;
    width: 120px;
    height: 4px;
    display: block;
    margin: 10px auto 0 auto;    
    
}

h1, h3, h4{
    margin:0;
    color: #fff;
}
/*</RESETS>*/

/*<HOME>*/
.header-title{
    color: #fff;
    margin: 0;
}

.header-title:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255,255,255,0.2);
}

nav{
    background-color: #161616;
    padding: 0 20px;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

nav,ul{
    align-items: center;
    display: flex;
    flex-direction: row;
}

li{
    padding: 0 20px;
}

button{
    border: none; 
    background-color: transparent;
    color: #fff;     
}

.btnMenu{
    font-size: 30px;
    position: absolute;
    right: 10px;
    display: none;
}

.btnMenu:focus ~ul{
    height: 195px;
}

#intro{
    height: 35%;
}

#slider{    
    position:relative;
    width: 100%;
    height: 100%;    
}

#slider img{
    position:absolute;
    width: 90%;
    height: 84%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1000ms;
    margin-top: 2%;      
    margin-left: 4.8%;    
}

#slider img.selected{
    opacity: 1;
}

#slider button{
    padding:0;
    margin-top: 2%;  
    border: none; 
    background-color: transparent;
    outline: none;   
    font-size: 150%;
    color:black; 
    width: 1.5%;
    height: 84%;
    position:absolute;    
}

#btnBack{
    margin-left: 2%;
}

#btnNext{      
    margin-left: 96%;    
}
/*</HOME>*/


/*<ABOUT>*/
#profile{    
    background-color: black;
    height: 30%;
    padding: 0;
    margin: 0;
}

.card-personal{
    float:left;
    height: 100%;
    width: 30%;   
}

.card-perfil{
    max-width: 370px;
    max-height: 370px;
    width: 80%;
    height: auto;
    padding-top: 20px;
    border-radius: 90%; 
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

.card-infos{
    display:block;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;    
    text-align: center;
    word-wrap: break-word;    
}

.card-infos-text{
    padding-top:10px;
}

.about{
    float:right;
    width: 70%;
    height: 50%;    
}

.automaticText{
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
}

.automaticText::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }    
}

.skills{ 
    padding: 0;
    float: right;
    width: 70%; 
    height: 40%;
}

.grid{ 
    display: grid;    
    height: 40%;
    justify-content: center;
}

.grid-template-columns{
 	grid-template-columns: repeat(auto-fit, 200px);
    grid-row-gap: 15%;
}

.grid-item{
    margin-left: auto;
    margin-right: auto;
}

.table-skills{
    width: 150px;
    border-collapse: collapse;    
}

.skill-competence{    
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;    
    background-color: green;        
    height: 10px;
}

.skill-no-competence{    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color: black;    
}

/*</ABOUT>*/

/*<PROJECTS>*/
#projects-section{
    height: 34%;    
}

.projects{
    height: 100%;
    display: grid;    
    justify-content: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 40vh 40vh;
}

.project-item{
    margin:0 auto 0 auto;
    width: 70%;
    height: 90%;   
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem; 
}

.project-item-img img{    
    overflow: hidden;    
    object-fit: fill;
    width: 100%;
    height: 100%;  
    transition: 1s; 
}

.project-item-img img:hover{
    transform: scale(1.1); 
}
/*</PROJECTS>*/


/*<CONTACT>*/
#contact-section{
    
}
/*</CONTACT>*/

/*<MEDIAQUERY>*/
@media(max-width: 800px){
    body{    
        margin: 0;
        height: 2500px;
    }
    
    footer{
        height: 7%;
    }
    .header-title{
        margin: 10px;
    }
    nav{
        padding: 0;
        align-items: flex-start;  
    }
    ul{
        text-align: center;
        margin:0;
        height: 0;
    }   
    nav, ul{
        flex-direction: column;
    }
    .btnMenu{
        display: flex;
    }
    ul, li{
        width: 100%;
    }
    #intro{
        /*max-height: 450px;*/
        max-height: 15%;
    }
    p{
        font-size: 1.5em;
    }   
    #profile{         
        height: 45%;        
    }    
        
    .card-personal{   
        height: 40%;
    }

    .about{
        height: 20%;
    }
        
    .card-perfil{
        max-width: 250px;
        max-height: 250px;
        width: 75%;
    }

    .skills{
        height: 40%;
        margin-top: 10%;
    }
    .card-personal, .about, .skills{
        width: 100%;
    } 

    .automaticText{
        font-size: 1.2em;
    }    
    
    .grid-template-columns{    
        grid-template-columns: repeat(auto-fit, 250px);   
        grid-row-gap: 5%;        
    }    
   
    #projects-section{
        height: 33%;        
    }
        
    .projects{
        height: 90%;
        grid-template-columns:  1fr;
        grid-template-rows: 30vh 30vh 30vh 30vh;
    }

    .project-item{
        margin:0 auto 0 auto;
        width: 80%;        
    }
}
/*</MEDIAQUERY>*/