body{
    margin: 0;
}

h1{
    color: #fff;
    margin: 0;    
}

nav{
    background-color: #161616;
    padding: 0 20px;
    justify-content: space-between;
}

ul{    
    list-style: none;
    padding: 0;
    overflow: hidden;
}

nav,ul{
    align-items: center;
    display: flex;
    flex-direction: row;
}

li{
    padding: 0 20px;
}

a{    
    text-decoration: none;
}

h1:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255,255,255,0.2);
}

button{
    border: none; 
    background-color: transparent;
    color: #fff;   
    
}

.btnMenu{
    font-size: 30px;
    position: absolute;
    right: 10px;
    display: none;
}


#slider{    
    padding:0;    
    align-self: center;
    margin: 0;
    
}

#slider img{  
    position:absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1000ms;  
    margin-top: 2%;  

    flex-direction: column;  
    
}

#slider img.selected{
    opacity: 1;
}

#slider button{
    padding:0%;    
    border: none; 
    background-color: transparent;
    outline: none;   
    font-size: 150%;
    color:black; 
    width: 1.5%;
    height: 80%;
    position:absolute;
}

#btnNext{    
    margin-left: 98%;    
}

.btnMenu:focus ~ul{
    height: 195px;
}


@media(max-width: 700px){
    h1{
        margin:10px;        
    }
    nav{
        padding: 0;
        align-items: flex-start;  
    }
    ul{
        text-align: center;
        margin:0;
        height: 0;
    }   
    nav, ul{
        flex-direction: column;       
    }
    .btnMenu{
        display: flex;
    }

    ul, li{        
        width: 100%;        
    }
}