*{padding:0; margin: 0;}

body{
   
    flex-direction: center;
    justify-content: center;
    align-items: center;
}


nav{   
    margin-top: 0%;
    background-color: teal;
    height: 80px;
    width: 100%;
    opacity: 90;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{    
	display:inline-block;	
    line-height: 80px;
    margin: 0 5px;
	font-size: 20px;	    
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    padding:  6px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;    
    border: 3px;
}

#logo{
    background-color: teal;
    text-transform: none;
    width: 260px;
    height:80px;
}

#slider{    
    margin-top: 8%;
    width: 85%;   
    height: 25vw;
    max-height: 350px;
    position: relative;
    left: 7%;
}

#slider img{  
    position:absolute;
    width: 96%;
    height: 100%;

    object-fit: cover;
    opacity: 0;

    transition: opacity 1000ms;

    
}

#slider img.selected{
    opacity: 1;
}

#slider button{    
    border: none;
    outline: none;
    background-color: white;
    font-size: 150%;
    color:black; 
    width: 1.5%;
    height: 100%;
    position:relative;        
}

#btnNext{    
    float: right;   
    position: fixed;
    
}

.checkbtn{    
    font-size: 30px;
    color: white;
    width: 15px;
    height: 20px;
    float: right;
    
    margin-top: 1%;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#menuicon{
    width: 45px;
    height: 45px;
}

#check{
    display: none;
}

@media(max-width: 952){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width: 952){
   .checkbtn{
       display: block;
   }

   ul{
       position: fixed;
       width: 100%;
       height: 100vh;
       background: #2c3e50;
       top: 80px;
       left: 0;
       text-align: center;
   }

   nav ul li{
       display: block;
   }
}